html, body {
    text-shadow: none;
}

#main {
    display: block;
    width: 80%;
    padding: 50px 10%;
    height: 300px;
}

.btnlol {
    width: 80%;
    word-break: break-word;
    border: none;
    color: white;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00d451+0,008834+50,00d451+100 */
    background: rgb(0,212,81); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZDQ1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwODgzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGQ0NTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,212,81,1) 0%, rgba(0,136,52,1) 50%, rgba(0,212,81,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,212,81,1)), color-stop(50%,rgba(0,136,52,1)), color-stop(100%,rgba(0,212,81,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,212,81,1) 0%,rgba(0,136,52,1) 50%,rgba(0,212,81,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,212,81,1) 0%,rgba(0,136,52,1) 50%,rgba(0,212,81,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,212,81,1) 0%,rgba(0,136,52,1) 50%,rgba(0,212,81,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,212,81,1) 0%,rgba(0,136,52,1) 50%,rgba(0,212,81,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d451', endColorstr='#00d451',GradientType=0 ); /* IE6-8 */
}

.btnstart {
    background: rgba(252,234,187,1);
    background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
    background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
    width: 40%;
    text-shadow: none;
    border-radius: 10px;
}

.footBG {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,ffffff+100&amp;0+0,0.2+5,0.7+15,0.9+100 */
    background: -moz-linear-gradient(top, rgba(245,246,246,0) 0%, rgba(246,246,246,0.2) 5%, rgba(247,247,247,0.7) 15%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,0)), color-stop(5%,rgba(246,246,246,0.2)), color-stop(15%,rgba(247,247,247,0.7)), color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,246,246,0) 0%,rgba(246,246,246,0.2) 5%,rgba(247,247,247,0.7) 15%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,246,246,0) 0%,rgba(246,246,246,0.2) 5%,rgba(247,247,247,0.7) 15%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,246,246,0) 0%,rgba(246,246,246,0.2) 5%,rgba(247,247,247,0.7) 15%,rgba(255,255,255,0.9) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,246,246,0) 0%,rgba(246,246,246,0.2) 5%,rgba(247,247,247,0.7) 15%,rgba(255,255,255,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f6f6', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-9 */
}

.clickable-area {
    display: block;
    width: 100%;
    height: 600px;
    background-color: red;
}

    .clickable-area:focus {
        outline: 0;
    }
